.accountNoLabel {
    text-align: left;
    font: normal normal 800 16px/18px adobe-clean;
    letter-spacing: 0px;
    color: #818A96;
    text-transform: uppercase;
    opacity: 1;
    margin: 0;
}

.accountNo {
    color: var(--text-color);
    text-align: left;
    font: normal normal 800 24px/30px adobe-clean;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    margin: 0;
}

.greeting {
    color: var(--text-color);
    text-align: left;
    font: normal normal 900 36px/42px adobe-clean;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}