.accountbalance {

    max-width: 695px;
    padding: 0px 40px;
    box-sizing: border-box;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
}

.balance {
    margin: 32px 0px;
}
.balance p {
    text-align: left;
    font: normal normal 700 16px/18px adobe-clean;
    letter-spacing: 0px;
    color: #818A96;
    text-transform: uppercase;
    opacity: 1;


}

.balance h3 {
    text-align: left;
    font: normal normal 900 48px/52px adobe-clean;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    margin: 0;
}

.options {
    text-align: right;
    text-decoration: underline;
    font: normal normal medium 16px/24px adobe-clean;
    letter-spacing: 0px;
    color: #0296A6;
    opacity: 1;
    margin: 32px 0px;
}

.options p:first-child {
    background: #0296A6 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    width: 156px;
    text-align:center;
    font: 16px/20px adobe-clean;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px;
    margin: 60px 10px 00px 52px;
}