.expenses {
    width: 695px;
    min-height: 445px;
    
    padding: 15px;
    margin: 20px 0px

}

.sectionHeading {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--text-color);
    text-align: left;
    font: normal normal 800 24px/30px Adobe Clean;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
    margin: 0;
    margin-bottom: 3rem;
}

.info {
    display: flex;
    flex-direction: row;
}

.infoBox {
    display: flex;
    flex-direction: column;
    width: 33%;
    background: var(--input-form-) 0% 0% no-repeat padding-box;
    background: #F3F2F6 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    height: 107px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

.infoBox-top {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.infoBox-title {
    padding-left: 1rem;
   /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-adobe-clean);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--text-secondary-and-empty-input-form-);
    text-align: left;
    font: normal normal 800 16px/18px Adobe Clean;
    letter-spacing: 0px;
    color: #818A96;
    text-transform: uppercase;
    opacity: 1;
}

.infoBox-summary {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-16)/15px var(--unnamed-font-family-adobe-clean);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal 900 16px/15px Adobe Clean;
    letter-spacing: 0px;
    opacity: 1;
}

.infoBox-top > span:last-of-type {
    margin-left: auto;
}

.infoBox-chartBox {
    display: flex;
    flex-direction: row;
}

.infoBox-value {
    padding-left: 1rem;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-adobe-clean);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal 900 24px/30px Adobe Clean;
    letter-spacing: 0px;
    
    opacity: 1;
}

.infoBox-chart {
    width: 48px;
    height: 23px;
    /* UI Properties */
    opacity: 1;
}

.blue {
    color: #0296A6;
}

.pink {
    color: #DB2E7E;
}