header {
  box-shadow: 0px 3px 20px #0000000D;
  height: 116px;
}

.header-alerts {
  height: 44px;
  background-color: #171C29;
  color: #fff;
  flex-direction: column;
  display: flex;
  justify-content: center;
}



.header-alerts p {
  margin: 0;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 16px/16px Adobe Clean;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-weight: 300;
  
}



.header-nav {
  min-height: 72px;
  padding: 17.5px;
  max-width: 1480px;
  margin: auto;
}

.header-nav div{
  display: flex;
  justify-content:space-between;
}

.header-nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  min-width: 600px;
  padding-top: 8px;
}

.header-nav li{
  text-align: left;
  font: normal normal 16px/20px Adobe Clean;
  letter-spacing: 0px;
  color: #818A96;
  text-transform: capitalize;
  opacity: 1;
}

.header-nav li strong{
  color: #000;
}

.logo {
  height: 37px;
}

.twocol {
  display: flex;
  justify-content: space-between;
}

.authFriendly {
  padding-top: 8px;
  text-align: right;
  font: normal normal 18px/24px Adobe Clean;
  letter-spacing: 0px;
  color: #2C2C2C;
  opacity: 1;
}